.completed-projects {
	margin-top: 80px;
	margin-bottom: 80px;
	.carousel-wrapper {
		margin-top: 46px;
		position: relative;
	}
}
.owl-nav-main-projects {
	height: 0;
	width: 0;
	button {
		border: none;
		height: 32px;
		width: 18px;
		position: absolute;
		top: 250px;
		transform: translateY(-50%);
		background: url("../img/nav-arrow-left.png") center/contain no-repeat !important;
		&:hover {
			background: url("../img/nav-arrow-left-hover.png") center/contain no-repeat !important;
		}
		&:focus {
			outline: 0;
		}
	}
}

.owl-carousel-main-projects {
	.owl-stage-outer {
		padding: 30px 0;
	}
	.owl-dots {
		margin: 20px auto 0;
		text-align: center;
		.owl-dot {
			height: 6px;
			width: 6px;
			border-radius: 100%;
			background-color: rgba(0, 0, 0, 0.65);
			margin: 0 4px;
			&.active {
				background-color: rgba(0, 0, 0, 1);
			}
		}
	}
	.main-carousel-item {
		height: 500px;
		.img-wrapper {
			position: relative;
			height: 100%;
			width: 100%;
			img {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				object-fit: cover;
				object-position: center;
				filter: grayscale(1);
			}
		}
		.text-wrapper {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			background-color: $alternate-primary;
			overflow: hidden;
			p {
				padding: 40px 25px;
				font-size: 16px;
				font-weight: 500;
				line-height: 24px;
			}
			div.arrow-link {
				transition: 0.2s ease-in-out;
				display: block;
				width: 100%;
				font-size: 16px;
				font-weight: 500;
				overflow: hidden;
				height: 4px;
				line-height: 60px;
				padding: 0 25px;
				background-color: $main-primary;
			}
		}
		&:hover {
			.img-wrapper {
				img {
					filter: grayscale(0);
				}
			}
			.text-wrapper {
				div.arrow-link {
					height: 60px;
				}
			}
		}
	}
}
.owl-item.center {
	.main-carousel-item {
		box-shadow: 0px 0px 30px #8E8E93;
	}
	.img-wrapper {
		img {
			filter: grayscale(0);
		}
	}
	.text-wrapper {
		div.arrow-link {
			height: 60px;
		}
	}
}
.project-footer {
	color: #000000;
	margin-top: 51px;
	font-size: 22px;
	font-weight: 500;
	line-height: 32px;
	&-link {
		height: 100%;
		display: flex;
		align-items: center;
		a {
			color: $main-primary;
			border: 1px solid $main-primary;
			display: inline-block;
			width: 100%;
			padding: 12px 0 9px;
			font-size: 16px;
			font-weight: 500;
			line-height: 24px;
			letter-spacing: 0.1px;
			text-align: center;
		}
	}
}