footer {
	.footer-top {
		border-top: 1px solid $main-primary;
		padding: 40px 0;
		background-color: #f6f6f6;
		.footer-contacts {
			color: #000000;
			.footer-logo {
				display: inline-block;
				height: 42px;
				width: 137px;
				img {
					height: 100%;
					width: 100%;
					object-fit: contain;
					object-position: center;
				}
			}
			.communication {
				margin-top: 16px;
				a {
					margin-top: 3px;
					color: #000000;
				}
			}
			.address {
				margin-top: 13px;
			}
		}
		.footer-menu {
			padding-top: 9px;
			a {
				@extend .link-16;
				text-transform: uppercase;
			}
		}
		.footer-link {
			padding-top: 10px;
			a {
				color: #000000;
			}
		}
	}
	.footer-bottom {
		background-color: $alternate-primary;
		padding: 20px 0 22px;
		color: rgba(255, 255, 255, 0.6);
		.copyright a {
			text-decoration: underline;
			margin-left: 6px;
			color: rgba(255, 255, 255, 0.6);
		}
		.social-links a {
			color: rgba(255, 255, 255, 0.6);
		}
		.social-and-privacy .privacy {
			text-decoration: underline;
			color: rgba(255, 255, 255, 0.6);
		}
	}
}