footer {
	.footer-top {
		border-top: 1px solid $main-primary;
		padding: 40px 0;
		background-color: #f6f6f6;
		.footer-contacts {
			color: #000000;
			.footer-logo {
				display: inline-block;
				height: 42px;
				width: 137px;
				img {
					height: 100%;
					width: 100%;
					object-fit: contain;
					object-position: center;
				}
			}
			.communication {
				margin-top: 16px;
				a {
					margin-top: 3px;
					color: #000000;
				}
			}
			.address {
				margin-top: 13px;
				line-height: 20px;
			}
		}
	}
	.footer-bottom {
		background-color: $alternate-primary;
		padding: 20px 0 22px;
		color: rgba(255, 255, 255, 0.6);
		.copyright a {
			text-decoration: underline;
			margin-left: 6px;
			color: rgba(255, 255, 255, 0.6);
		}
		a {
			color: rgba(255, 255, 255, 0.6);
		}
		.privacy {
			text-decoration: underline;
		}
	}
}
.footer-cta {
	height: 100%;
	div:first-child {
		.cta-link {
			img {
				left: -3px;
			}
		}
	}
}
.cta-link {
	color: #000;
	font-weight: 400;
	display: flex;
	align-items: center;
	position: relative;
	padding-left: 16px;
	img {
		position: absolute;
		left: 0;
	}
	&:hover {
		color: $main-primary;
		text-decoration: underline;
	}
}
.footer-links {
	li:last-child {
		.strong-link {
			margin-bottom: 0;
		}
	}
	.strong-link {
		@extend .link-16;
		display: inline-block;
		text-transform: uppercase;
		margin-bottom: 14px;
		&:hover {
			text-decoration: underline;
		}
	}
}
.social-links {
	margin-bottom: 20px;
	li {
		display: inline-block;
		&:last-child {
			margin-right: 0;
		}
	}
}
.social-link {
	font-size: 14px;
	span.fab {
		margin-right: 5px;
		color: $main-primary;
	}
}