@import "vars";
@import "fonts";
@import "libs";

@import "header";
@import "hero";
@import "services";
@import "completed-projects";
@import "industries";
@import "partners";
@import "news";

@import "footer";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}
img {
	user-select: none;
}
button {
	outline: 0;
	user-select: none;
}
a {
	color: #fff;
	&:hover {
		color: #ffffff;
		text-decoration: none;
	}
}
p, ul, li, label {
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
}
body {
	margin-top: 60px;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.container-wrapper {
	max-width: 1440px;
	margin: 0 auto;
}
.headline {
	color: $main-primary;
	text-transform: uppercase;
	text-align: center;
	font-size: 28px;
	font-weight: 700;
	line-height: 34px;
}
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}



@import "media"; // Always at the end
