doctype html
html(lang="ru")
include modules/head
body
    include modules/header
    .section
        .about
            .about-hero
                .container
                    .row
                        .col-lg-10.offset-lg-1
                            .box
                                p.title.h1-like Надежный партнер в решении сложных юридических задач
                                p.text.blockquote Сегодня деловыми партнерами и клиентами LDD являются государственные корпорации, коммерческие и инвестиционные банки, международные финансовые и инвестиционные группы, некоммерческие организации, общественные объединения и частные лица, которые решили доверить решение серьезных бизнес-вопросов именно нам.
    section
        .about-body
            ul.nav.d-flex.justify-content-center
                li.nav-item
                    a.nav-link.active(data-toggle='tab', href='#company') Компания
                li.nav-item
                    a.nav-link(data-toggle='tab', href='#strategy') Стратегия
                li.nav-item
                    a.nav-link(data-toggle='tab', href='#awards') Награды
                li.nav-item
                    a.nav-link(data-toggle='tab', href='#history') История
                li.nav-item
                    a.nav-link(data-toggle='tab', href='#philosophy') Философия
                li.nav-item
                    a.nav-link(data-toggle='tab', href='#cooperation') Сотрудничество
                li.nav-item
                    a.nav-link(data-toggle='tab', href='#analytical') Аналитика
                li.nav-item
                    a.nav-link(data-toggle='tab', href='#social') Общество
            .tab-content.about-tab-content
                #company.tab-pane.active.about-company
                    .experience.about-company-top
                        .container
                            p.title.h2-like Опыт
                            .row
                                .col-lg-4
                                    p.title-description.h1-like 13 лет практики
                                    a.link-detailed(href="#") Награды и достижения
                                .col-lg-8
                                    p.text По оценкам экспертов LDD входит в состав ведущих юридических компаний РФ в области землепользования и недвижимости, строительства и инжиниринга, урегулирования споров и судебных разбирательств.
                                    a.link-16(href="#") Подробнее
                    .specialization.about-company-top
                        .container
                            p.title.h2-like Специализация
                            .row
                                .col-lg-4
                                    p.title-description.h1-like Взгляд на 360°
                                    a.link-detailed(href="#") Посмотреть кейсы
                                .col-lg-8
                                    p.text Практический опыт в решении всевозможных юридических задач, постоянное улучшение сервисов с применением передовых методик позволяют взглянуть на каждый проект под разным углом, чтобы дать эффективное экономически выгодное решение.
                                    .row
                                        .col-lg-6
                                            ul.ul-first
                                                li.text-16 Решение судебных споров и разбирательств
                                                li.text-16 Землепользование и недвижимость
                                                li.text-16 Инфраструктура и ГЧП
                                        .col-lg-6
                                            ul.ul-second
                                                li.text-16 Интеллектуальная собственность
                                                li.text-16 Налоговое консультирование
                                                li.text-16 Строительство и инжиниринг
                                                li.text-16 Консультационные услуги
                                    a.link-16(href="#") Подробнее
                    .team.about-company-top
                        .container
                            p.title.h2-like Команда
                            .row
                                .col-lg-4
                                    p.title-description.h1-like 25 профессионалов
                                    a.link-detailed(href="#") Познакомьтесь с командой
                                .col-lg-8
                                    p.text Численность сотрудников LDD составляет 25 человек. Все они эксперты высочайшей квалификации, безупречной деловой репутации и замечательных человеческих качеств.
                                    a.link-16(href="#") Подробнее
                    .red-box
                        .container
                            .row
                                .col-lg-6
                                    .red-box-item
                                        .icon.icon-mission
                                        p.title.h3-like Наша миссия
                                        p.text.text-18
                                            | Мы обеспечиваем квалифицированную правовую помощь клиентам, изменяя мир к лучшему и делая его более справедливым.
                                            br
                                            br
                                            | Наше кредо - доводить начатое до конца, быть полезной и ответственной компанией перед обществом, клиентами, партнерами и инвесторами, стремиться к совершенству и успеху в достижении этой цели.
                                .col-lg-6
                                    .red-box-item
                                        .icon.icon-search
                                        p.title.h3-like Наше видение
                                        p.text.text-18
                                            | Мы – уважаемая компания с заслуженной репутацией и многолетним опытом реализации успешных проектов, следующая мировым стандартам оказания услуг в области юриспруденции.
                                            br
                                            br
                                            | Наша цель - войти в десятку лидеров российских компаний по предоставлению комплексных юридических услуг.
                    .text-box
                        .container
                            .row
                                .col-lg-5
                                    .left-text.d-flex.align-items-center
                                        p.text.h3-like Концепция действий компании LDD при оказании услуг отличается тремя первичными качествами:
                                .col-lg-6.offset-lg-1
                                    ul
                                        li.d-flex.align-items-center
                                            span.number.h5-like 1
                                            span.text.h4-like Быстрая адаптация и безопасность
                                        li.d-flex.align-items-center
                                            span.number.h5-like 2
                                            span.text.h4-like Техническая проработанность
                                        li.d-flex.align-items-center
                                            span.number.h5-like 3
                                            span.text.h4-like Функциональная и финансовая жизнеспособность
                    .container
                        .hor-line
                        .tab-box
                            .row
                                .col-lg-4
                                    .left-text
                                        p.number 5
                                        p.title.h1-like
                                            | Элементов
                                            br
                                            | умной системы
                                        p.text.text-18 Гарантируют 100% успеха в решении любых задач юриспруденции
                                .col-lg-8
                                    .company-tabs.about-company-tab
                                        ul.nav.d-flex.justify-content-start
                                            li.nav-item
                                                a.nav-link.active(data-toggle='tab', href='#one') 1
                                            li.nav-item
                                                a.nav-link(data-toggle='tab', href='#two') 2
                                            li.nav-item
                                                a.nav-link(data-toggle='tab', href='#three') 3
                                            li.nav-item
                                                a.nav-link(data-toggle='tab', href='#four') 4
                                            li.nav-item
                                                a.nav-link(data-toggle='tab', href='#five') 5
                                        .tab-content.about-company-tab-content
                                            #one.tab-pane.active
                                                p.title.h2-like Профессионализм 1
                                                p.text.text-16 Высочайший уровень профессионализма сотрудников ─ обязательное правило, которое мы соблюдаем. Наши специалисты блестяще решают самые сложные правовые задачи. В команде LDD работают только лучшие из лучших. Подтверждением компетентности является доверие клиентов и наши заслуженные награды.
                                            #two.tab-pane.fade
                                                p.title.h2-like Профессионализм 2
                                                p.text.text-16 Высочайший уровень профессионализма сотрудников ─ обязательное правило, которое мы соблюдаем. Наши специалисты блестяще решают самые сложные правовые задачи. В команде LDD работают только лучшие из лучших. Подтверждением компетентности является доверие клиентов и наши заслуженные награды.
                                            #three.tab-pane.fade
                                                p.title.h2-like Профессионализм 3
                                                p.text.text-16 Высочайший уровень профессионализма сотрудников ─ обязательное правило, которое мы соблюдаем. Наши специалисты блестяще решают самые сложные правовые задачи. В команде LDD работают только лучшие из лучших. Подтверждением компетентности является доверие клиентов и наши заслуженные награды.
                                            #four.tab-pane.fade
                                                p.title.h2-like Профессионализм 4
                                                p.text.text-16 Высочайший уровень профессионализма сотрудников ─ обязательное правило, которое мы соблюдаем. Наши специалисты блестяще решают самые сложные правовые задачи. В команде LDD работают только лучшие из лучших. Подтверждением компетентности является доверие клиентов и наши заслуженные награды.
                                            #five.tab-pane.fade
                                                p.title.h2-like Профессионализм 5
                                                p.text.text-16 Высочайший уровень профессионализма сотрудников ─ обязательное правило, которое мы соблюдаем. Наши специалисты блестяще решают самые сложные правовые задачи. В команде LDD работают только лучшие из лучших. Подтверждением компетентности является доверие клиентов и наши заслуженные награды.
                        .about-company-items
                            .row
                                .col-lg-4
                                    .figure.codex
                                        .img
                                        .figcaption
                                            p.title.h3-like Кодекс этики
                                            p.text.text-14 Устанавливает принципы и нормы поведения должностных лиц и сотрудников LDD, определяет правила взаимоотношений внутри компании, а также отношений с деловыми партнерами, клиентами, государственными органами и общественностью.
                                            a.download.link-16(href="#") Скачать
                                .col-lg-4
                                    .figure.brochure
                                        .img
                                        .figcaption
                                            p.title.h3-like Корпоративная брошюра
                                            p.text.text-14 Подробная информация об истории компании, реализованных проектах и предоставляемых услугах, наших клиентах и команде, идеологии и стратегии поможет составить наиболее полную оценку о компании LDD.
                                            a.download.link-16(href="#") Скачать
                                .col-lg-4
                                    .figure.presentation
                                        .img
                                        .figcaption
                                            p.title.h3-like Презентация
                                            p.text.text-14 Ознакомьтесь с нашей презентацией и оцените перспективы сотрудничества с компанией LDD с коллегами, партнерами или руководством. Мы позаботились о вашем времени, изложив весь материал емко и в удобном формате.
                                            a.download.link-16(href="#") Скачать
                #strategy.tab-pane.fade.container
                    p.title.h1-like Стратегия
                    .tab-content-body
                        .row
                            .col-lg-6
                                p.h2-like Мы объединили огромный опыт наших специалистов из большинства регионов России. LDD является одной из крупнейших юридических компаний в России.
                            .col-lg-6
                                p.text-18 C момента основания LDD демонстрирует стабильное развитие и рост по многим показателям. Стратегия компании призвана обеспечить устойчивую деятельность и долгосрочное развитие, используя конкурентные преимущества. В ее основе лежит отказ от экстенсивного роста через поспешное увеличение числа сотрудников, стандартизации работы и формального исполнения уставных задач.
                        .hor-line
                        .row
                            .col-lg-6
                                p.text-16
                                    | Мы - одни из лидеров отрасли и в сегодняшней ситуации на мировых рынках сохраняем свои позиции, используя оригинальные методики, уникальный опыт проведения сделок, глобальный масштаб бизнеса и профессионализм сотрудников.
                                    br
                                    br
                                    | Максимальная самообеспеченность по всем видам предоставляемых услуг гарантирует стабильную деятельность. Наши программы повышения эффективности, реализуемые в процессе работы, обеспечивают одну из самых конкурентных себестоимостей в сфере консультационных и юридических услуг.
                                    br
                                    br
                                    | LDD осознает необходимость активных действий по достижению баланса между спросом и предложением и предпринимает необходимые меры, направленные на уменьшение давления на рынок юридических услуг.
                            .col-lg-6
                                p.text-16
                                    | Важнейшими направлениями нашей деятельности являются работа с конечным потребителем, поиск новых сфер для применения накопленного опыта, создание новых продуктов, гибкость при выполнении заказов и повышение качества оказываемых услуг.
                                    br
                                    br
                                    | Реализация стратегических планов зависит от сотрудников компании. Сохранение компетентных, профессиональных, амбициозных специалистов, разделяющих принятые коллективом ценности, при проведении необходимой в сегодняшних условиях оптимизации – не менее важная стратегическая задача.
                                    br
                                    br
                                    | Скоординированные действия LDD с участниками рынка, финансовыми институтами и государственными структурами позволяют сбалансировать рынок и преодолеть нынешний кризис в политико-экономичесих отношениях с минимальными последствиями для отраслей экономики с тем, чтобы сконцентрироваться на долгосрочных планах по расширению глобального присутствия и дальнейшей диверсификации бизнеса.
                #awards.tab-pane.fade.container
                    p.title.h1-like Достижения и награды
                    p.title-description.h4-like Мы гордимся результатами проделанной работы и признанием наших достижений организациями и общественностью.
                    .tab-content-body
                        .row
                            .col-lg-4
                                figure.awards-item
                                    .img
                                        img.award(src="/img/about/Awards/pravo-300-ldd-2018-1-big.jpg" alt="award")
                                    figcaption
                                        p.text-16 По итогам рейтинга «Право.Ru-300» в 2018 году LDD стала одной из лучших юридических компаний по отраслям права в номинации «Разрешение споров в судах общей юрисдикции».
                                        a.link-view.link-16 Посмотреть
                            .col-lg-4
                                figure.awards-item
                                    .img
                                        img.award(src="/img/about/Awards/pravo-300-ldd-2018-2-big.jpg" alt="award")
                                    figcaption
                                        p.text-16 По итогам рейтинга «Право.Ru-300» в 2018 году LDD стала одной из лучших юридических компаний по отраслям права в номинации «Коммерческая недвижимость/Строительство».
                                        a.link-view.link-16 Посмотреть
                            .col-lg-4
                                figure.awards-item
                                    .img
                                        img.award(src="/img/about/Awards/kommersant-ldd-2017-big.jpg" alt="award")
                                    figcaption
                                        p.text-16 По итогам рейтинга ИД «Коммерсант» за 2017 год юридическая компания LDD вошла в пятерку лучших юридических фирм России по отраслевым практикам в категории: «Земля, недвижимость и строительство: сделки».
                                        a.link-view.link-16 Посмотреть
                            .col-lg-4
                                figure.awards-item
                                    .img
                                        img.award(src="/img/about/Awards/pravo-300-ldd-2017-big.jpg" alt="award")
                                    figcaption
                                        p.text-16 По итогам рейтинга «Право.Ru-300» в 2017 году LDD вошла в число лучших юридических компаний России по отраслям права в двух номинациях «Разрешение споров» и «Коммерческая недвижимость/Строительство».
                                        a.link-view.link-16 Посмотреть
                            .col-lg-4
                                figure.awards-item
                                    .img
                                        img.award(src="/img/about/Awards/pravo-300-ldd-2016-big.jpg" alt="award")
                                    figcaption
                                        p.text-16 По итогам рейтинга «Право.ру-300» в 2016 году LDD вошла в число лучших юридических компаний России по отраслям права в номинации «Разрешение споров».
                                        a.link-view.link-16 Посмотреть
                            .col-lg-4
                                figure.awards-item
                                    .img
                                        img.award(src="/img/about/Awards/pravo-300-ldd-2015-big_preview.jpg" alt="award")
                                    figcaption
                                        p.text-16 По итогам рейтинга «Право.Ru-300» в 2015 году LDD признана одной из лучших юридических компаний, работающих в России, в отрасли права в номинации «Коммерческая недвижимость/Строительство».
                                        a.link-view.link-16 Посмотреть
                            .col-lg-4
                                figure.awards-item
                                    .img
                                        img.award(src="/img/about/Awards/dostigenie1_preview.jpg" alt="award")
                                    figcaption
                                        p.text-16 ЗАО "Лигал Дифенс Дипартмент" признано аккредитованным в качестве независимого эксперта, уполномоченного на проведение экспертизы на коррупциогенность.
                                        a.link-view.link-16 Посмотреть
                #history.tab-pane.fade.about-history.container
                    .row
                        .col-lg-7
                            .about-history-left-text
                                p.title.h1-like Этапы развития нашей компании
                                .stage-box
                                    .img
                                        img.img-main(src="/img/about/History/LDD-2017.png" alt="history")
                                        img.img-hover(src="/img/about/History/LDD-2017-1.png" alt="history")
                                    .text-wrapper
                                        p.year.h3-like 2017
                                        p.text.text-16 LDD разрабатывает и внедряет на рынок новую практику Управления собственностью, которая обеспечивает для клиентов и деловых партнеров полный комплекс взаимосвязанных услуг и решений в сфере интеллектуальной собственности и собственности на имущество. По итогам рейтинга «Право.ru-300» в 2017 году LDD стала одной из лучших юридических компаний по отраслям права в номинациях «Разрешение споров в судах общей юрисдикции» и «Коммерческая недвижимость/Строительство». Компания вошла в топ-5 лучших отраслевых практик в категории «Земля, недвижимость и строительство: сделки» по итогам рейтинга ИД «Коммерсантъ» за 2017 год.
                                .hor-line-sm
                                .stage-box
                                    .img
                                        img.img-main(src="/img/about/History/LDD-2016.png" alt="history")
                                        img.img-hover(src="/img/about/History/LDD-2016-1.png" alt="history")
                                    .text-wrapper
                                        p.year.h3-like 2016
                                        p.text.text-16 LDD разрабатывает и внедряет на рынок новую практику Управления собственностью, которая обеспечивает для клиентов и деловых партнеров полный комплекс взаимосвязанных услуг и решений в сфере интеллектуальной собственности и собственности на имущество. По итогам рейтинга «Право.ru-300» в 2017 году LDD стала одной из лучших юридических компаний по отраслям права в номинациях «Разрешение споров в судах общей юрисдикции» и «Коммерческая недвижимость/Строительство». Компания вошла в топ-5 лучших отраслевых практик в категории «Земля, недвижимость и строительство: сделки» по итогам рейтинга ИД «Коммерсантъ» за 2017 год.
                                .hor-line-sm
                                .stage-box
                                    .img
                                        img.img-main(src="/img/about/History/LDD-2015.png" alt="history")
                                        img.img-hover(src="/img/about/History/LDD-2015-1.png" alt="history")
                                    .text-wrapper
                                        p.year.h3-like 2015
                                        p.text.text-16 LDD разрабатывает и внедряет на рынок новую практику Управления собственностью, которая обеспечивает для клиентов и деловых партнеров полный комплекс взаимосвязанных услуг и решений в сфере интеллектуальной собственности и собственности на имущество. По итогам рейтинга «Право.ru-300» в 2017 году LDD стала одной из лучших юридических компаний по отраслям права в номинациях «Разрешение споров в судах общей юрисдикции» и «Коммерческая недвижимость/Строительство». Компания вошла в топ-5 лучших отраслевых практик в категории «Земля, недвижимость и строительство: сделки» по итогам рейтинга ИД «Коммерсантъ» за 2017 год.
                                .hor-line-sm
                                .stage-box
                                    .img
                                        img.img-main(src="/img/about/History/LDD-2014.png" alt="history")
                                        img.img-hover(src="/img/about/History/LDD-2014-1.png" alt="history")
                                    .text-wrapper
                                        p.year.h3-like 2014
                                        p.text.text-16 LDD разрабатывает и внедряет на рынок ряд новых и надежных комплексных решений в сфере систем управления земельно-имущественным комплексом. Для этого были выстроены соответствующие системы анализа, управления, реализации, контроля и защиты.
                                .hor-line-sm
                                .stage-box
                                    .img
                                        img.img-main(src="/img/about/History/LDD-2012.png" alt="history")
                                        img.img-hover(src="/img/about/History/LDD-2012-1.png" alt="history")
                                    .text-wrapper
                                        p.year.h3-like 2012
                                        p.text.text-16 LDD выделяет в отдельное направление практику строительства и инжиниринга для комплексного решения задач клиентов. Компетенция и опыт наших специалистов позволяют нам охватывать все этапы строительных и инженерных проектов любого уровня сложности.
                                .hor-line-sm
                                .stage-box
                                    .img
                                        img.img-main(src="/img/about/History/LDD-2010.png" alt="history")
                                        img.img-hover(src="/img/about/History/LDD-2010-1.png" alt="history")
                                    .text-wrapper
                                        p.year.h3-like 2010
                                        p.text.text-16 LDD развивает направление, связанное с проведением экспертиз нормативных правовых актов и иных документов на коррупциогенность.
                                .hor-line-sm
                                .stage-box
                                    .img
                                        img.img-main(src="/img/about/History/LDD-2008.png" alt="history")
                                        img.img-hover(src="/img/about/History/LDD-2008-1.png" alt="history")
                                    .text-wrapper
                                        p.year.h3-like 2008
                                        p.text.text-16 LDD, объединив лучших специалистов в сфере землепользования и недвижимости, занимает лидирующие позиции в этом направлении.
                                .hor-line-sm
                                .stage-box
                                    .img
                                        img.img-main(src="/img/about/History/LDD-2007.png" alt="history")
                                        img.img-hover(src="/img/about/History/LDD-2007-1.png" alt="history")
                                    .text-wrapper
                                        p.year.h3-like 2007
                                        p.text.text-16 LDD осваивает направление урегулирования споров и судебных разбирательств.
                                .hor-line-sm
                                .stage-box
                                    .img
                                        img.img-main(src="/img/about/History/LDD-2006.png" alt="history")
                                        img.img-hover(src="/img/about/History/LDD-2006-1.png" alt="history")
                                    .text-wrapper
                                        p.year.h3-like 2006
                                        p.text.text-16 LDD расширила направление консультационных и юридических услуг по сделкам. Данная практика позволила нам привлечь квалифицированных специалистов из различных отраслей экономики и регионов России и стран СНГ.
                                .hor-line-sm
                        .col-lg-5
                            .about-history-right-text
                                p.title.h3-like LDD — это динамично развивающаяся российская юридическая компания.
                                p.text.text-14
                                    | С 2004 года Департамент правовой защиты при Президенте ФПС МВД РФ (далее – «Департамент») входил в состав Общероссийского Общественного Фонда Помощи и Содействии ветеранам МВД РФ (ФПС МВД РФ) и успешно обеспечивал юридическое сопровождение финансово-хозяйственной деятельности ряда общероссийских благотворительных и общественных фондов и их дочерних организаций.
                                    br
                                    br
                                    | В 2006 году Департамент был преобразован в Закрытое акционерное общество «Лигал Дифенс Дипартмент» (далее – «LDD»). Название компании отражает принцип его основателей – сохранение традиций и развитие ключевых направлений прежней деятельности, поэтому Департамент правовой защиты был переведен на английский язык как «Лигал Дифенс Дипартмент».
                                    br
                                    br
                                    | В практике работы (в электронной переписке и устной речи) в названии компании активно использовалась аббревиатура LDD как логотип. За годы успешной деятельности он стал легко узнаваемым брендом.
                            .about-history-right-text
                                p.title.h3-like Уверенно смотрим в будущее
                                p.text.text-14
                                    | LDD - это российская юридическая компания, которая успешно функционирует на рынке юридических и консультационных услуг более 13 лет. За время работы компания реализовала много проектов, постоянно расширяя и совершенствуя свои предложения клиентам. Во многих сферах юридической деятельности компания была пионером в предоставлении современных экономически эффективных услуг и комплексных решений в области консультационных услуг, землепользования и недвижимости, строительства и инжиниринга, урегулирования споров и судебных разбирательств.
                                    br
                                    br
                                    | Компания LDD не останавливается на достигнутом, преследуя цель не только сохранить, но и укрепить свои лидерские позиции. Она намерена всегда предлагать своим клиентам только самые эффективные, актуальные и инновационные услуги и решения, чтобы клиенты всегда оставались довольны результатами нашей работы.
                            p.bottom-text.text-18 Мы постоянно работаем над качеством услуг, чтобы наши клиенты всегда оставались довольны результатами нашей деятельности.
                #philosophy.tab-pane.fade.about-philosophy.container
                    .row
                        .col-lg-6
                            .left-text
                                p.title.h1-like Корпоративная философия
                                p.text.text-18 Корпоративная философия — это прочный фундамент, на котором была выстроена компания LDD. Для нас это очень важно, потому что мы искренне считаем, что просто хорошо делать свою работу — это слишком мало для настоящего успеха. Общие ценности и единые ориентиры — это именно то, что превращает просто группу блестящих специалистов в сплоченную команду единомышленников, которые каждый день выкладываются на все 100%, потому что точно знают, ради чего они работают. Наша корпоративная философия — это важные идеи и принципы, которые объединяют нас и вдохновляют быть лучшими в своем деле.
                        .col-lg-6
                            .right-text
                                p.title.h2-like Наш источник вдохновения
                                p.text.text-16
                                    | Корпоративная философия не работает, если о ней знает только тот, кто ее создал. Корпоративная философия — это те идеи, которые знакомы и близки каждому сотруднику компании. Именно поэтому мы создавали собственную корпоративную философию совместно с сотрудниками компании, пополняя и расширяя список «заповедей» по мере формирования нашей команды и развития фирмы LDD.
                                    br
                                    br
                                    | Возможно, уже завтра мы снова вернемся к этому тексту, чтобы вписать в него те важные истины, которые еще откроются нам в процессе нашего пути. А сегодня мы размещаем на сайте важные пункты корпоративной философии LDD, чтобы в любой момент наши сотрудники могли просмотреть, снова вдохновиться нашими идеями и вернуться к работе с новыми силами. Наша корпоративная философия — это то, что действительно стимулирует нас на постоянное развитие.
                #cooperation.tab-pane.fade.about-cooperation
                    .text-top
                        .container
                            p.title.h1-like Сотрудничество
                            p.title-description.text-18
                                | С 2006 года компания LDD оказывает профессиональные юридические и
                                br
                                | консультационные услуги на территории РФ.
                            .row
                                .col-lg-6
                                    p.text.text-18
                                        | Предлагаем широкий спектр сотрудничества юридическим и консультационным компаниям. Мы специализируемся на оказании правовой помощи в таких отраслях, как гражданское, корпоративное, земельное, финансовое, административное и уголовное право.
                                        br
                                        br
                                        | Также среди наших деловых партнеров есть эксперты, специализирующиеся на международном налоговом и финансовом планировании.
                                .col-lg-6
                                    p.text.text-18
                                        | В силу развития бизнеса зачастую клиенты LDD открывают представительства и филиалы в регионах РФ. Они заинтересованы в комплексном и своевременном решении возникающих задач на профессиональном уровне.
                                        br
                                        br
                                        | Полагаясь на собственные знания, опыт и ресурсы,
                                        br
                                        | мы всегда можем эффективно помочь клиенту независимо от удаленности его бизнеса или его части. При необходимости есть опыт привлечения специалистов со стороны, что всегда означает нашу личную ответственность перед клиентом за качество предоставляемых услуг.
                    .text-bottom
                        .container
                            p.title.h3-like Осознавая ответственность перед клиентом и гарантируя ему высокий уровень оказываемых услуг, мы заинтересованы в долгосрочном партнерстве.
                            .row
                                .col-lg-6
                                    p.text
                                        | Сотрудничество с нашей компанией может быть построено как дистанционно, так и на совместных встречах. Наши специалисты оперативно консультируют по телефону и электронной почте, мы оказываем разнообразную поддержку своим деловым партнерам. Отношения могут быть закреплены соглашением о партнерстве.
                                        br
                                        br
                                        | Один из сценариев совместной работы может выражаться в том, что наши специалисты возьмут на себя часть работы по правовому сопровождению бизнес-деятельности в Москве, Московской области и Санкт-Петербурге, в том числе: консалтинг по юридическим вопросам, содействии по урегулированию споров и судебных разбирательств, консультационные услуги по операциям с недвижимостью, регистрация и сопровождение деятельности компании и индивидуального предпринимателя, поиск инвесторов для реализации инвестиционных программ в Вашем регионе, открытие счетов в московских и зарубежных банках.
                                .col-lg-6
                                    p.text
                                        | Свои рекомендации нам предоставили крупнейшие европейские, западные и российские компании. Мнения наших экспертов не только периодически публикуются в деловой российской прессе, но и используются при подготовке информационно-аналитических справок.
                                        br
                                        br
                                        | Правовые технологии, применяемые нами, помогают клиентам обеспечить защиту и структурирование активов, конфиденциальность владения и управления предприятием и имуществом, решать сложные вопросы отношений между акционерами (участниками, членами), наследниками, оптимизировать налоговые и иные выплаты.
                    .person-card
                        .container
                            .row
                                .col-lg-6.text-item
                                    .text-wrapper.d-flex.flex-column.justify-content-center.h-100
                                        p.title.h3-like В сотрудничестве горизонты нашей деятельности станут шире, что, несомненно, обеспечит дополнительную прибыль.
                                        p.text.text-18 По вопросам сотрудничества, Вы можете обратиться к нашим специалистам.
                                .col-lg-6.card-item
                                    .item-box.d-flex
                                        .img
                                            img(src="/img/Team/Employees/Medina-Gadzhieva.jpg" alt="МЕДИНА ГАДЖИЕВА")
                                        .text-box.d-flex.flex-column
                                            p.name.h4-like МЕДИНА ГАДЖИЕВА
                                            p.post.text-14 Исполнительный директор
                                            .communication
                                                a.phone(href="tel:+74956020326") +7 (495) 602-03-26
                                                a.mail(href="mailto:medina.gadjieva@ldd.ru") medina.gadjieva@ldd.ru
                                            a.consultation-link.link-16(href="#") Консультация
                #analytical.tab-pane.fade.about-analytical
                    .container
                        .row
                            .col-lg-6
                                .left-text
                                    p.title.h1-like Экспертно-аналитический центр
                                    p.text.text-18 05.04.2016г. приказом утверждено Положение об экспертно-аналитическом центре при ЗАО «Лигал Дифенс Дипартмент».
                            .col-lg-6
                                .right-text
                                    p.text-16 Основной целью создания экспертно–аналитического центра (Центр) является изучение состояния рынка юридических услуг и разработка рекомендаций по оптимальному обеспечению предоставления услуг юридическим и физическим лицам, координации научных исследований в области права, оперативного анализа текущего состояния сферы правовых услуг в целом и отдельных ее областей, научного прогнозирования тенденций развития правоприменительной практики, разработки нормативно-методических документов в указанной области.
                    .tasks
                        .container
                            .title.h2-like Задачи и направления деятельности
                            .row
                                .col-lg-6
                                    ul.ul-first
                                        li.text-16 Мониторинг действующего законодательства на федеральном уровне и уровне субъектов РФ.
                                        li.text-16 Изучение и обобщение судебной практики по различным категориям рассматриваемых споров.
                                        li.text-16 Разработка нормативно-методических рекомендаций и документов по вопросам применения действующего законодательства РФ на основе изученных материалов.
                                .col-lg-6
                                    ul.ul-second
                                        li.text-16 Внедрение перспективных разработок Центра в повседневную практику.
                                        li.text-16 Оказание практической помощи (консультирование, оформление документов, контроль за ведением дел в судах) юридическим и физическим лицам по тематике, разрабатываемой Центром.
                                        li.text-16 Решение иных задач, определяемых профилем организации.
                    .person-card
                        .container
                            .row
                                .col-lg-6.text-item
                                    .text-wrapper.d-flex.flex-column.justify-content-center.h-100
                                        p.title.h3-like Центр возглавляет руководитель, назначаемый и освобождаемый Президентом ЗАО «Лигал Дифенс Дипартмент».
                                        p.text.text-18 По вопросам сотрудничества, Вы можете обратиться к нашим специалистам.
                                .col-lg-6.card-item
                                    .item-box.d-flex
                                        .img
                                            img(src="/img/Team/Employees/Medina-Gadzhieva.jpg" alt="МЕДИНА ГАДЖИЕВА")
                                        .text-box.d-flex.flex-column
                                            p.name.h4-like МЕДИНА ГАДЖИЕВА
                                            p.post.text-14 Исполнительный директор
                                            .communication
                                                a.phone(href="tel:+74956020326") +7 (495) 602-03-26
                                                a.mail(href="mailto:medina.gadjieva@ldd.ru") medina.gadjieva@ldd.ru
                                            a.consultation-link.link-16(href="#") Консультация
                #social.tab-pane.fade.about-social.container
                    p.title.h1-like Общественная деятельность
                    p.title-description.text-18 В течение многих лет мы оказываем спонсорскую помощь ряду благотворительных учреждений и фондов, доставляя гуманитарные отправления.
                    .text-wrapper
                        .row
                            .col-lg-6
                                p.text.text-16
                                    | Наши юристы регулярно предоставляют бесплатные консультации некоммерческим организациям и общественным объединениям в России. Это позволяет клиентам направлять свои ресурсы на достижение ключевых целей вместо того, чтобы использовать их для оплаты счетов за консультационные и юридические услуги.
                                    br
                                    br
                                    | Большинство организаций, пользующихся нашими бесплатными услугами, реализуют программы, предназначенные для ветеранов России, что согласуется с политикой и корпоративной философией компании, направленной на решение проблем ветеранов.
                            .col-lg-6
                                p.text.text-16
                                    | Мы все надеемся, что наши усилия станут важной и неотъемлемой частью движения, которое будет играть заметную роль в социально-экономической и духовной жизни нашей страны.
                                    br
                                    br
                                    | LDD активно участвует в значимых общественных мероприятиях, соответствующих духу бренда и нашему пониманию целей наших корпоративных клиентов.
                                    br
                                    br
                                    | В настоящее время наша общественная деятельность состоит в поддержке национальных и международных некоммерческих организаций и общественных объединений в России и странах СНГ.
    include modules/footer
script(src="js/scripts.min.js")