doctype html
html(lang="ru")
include modules/head
body
	include modules/header
	section
		.hero
			.container.h-100
				.hero-box.d-flex.align-items-end
					.hero-box-content-wrapper
						.row
							.col-lg-8.offset-lg-2
								.hero-box-content.d-flex.flex-column.align-items-center
									a.hero-logo(href="/")
										img(src="/img/LDD-logo.svg")
									h1.hero-title ВЕРНЫЕ РЕШЕНИЯ ДЛЯ ВАШЕГО БИЗНЕСА
									p.hero-text LDD – юридическая компания с 13-летним опытом, успешно реализовавшая более 1000 проектов на территории Российской Федерации. Наша команда решает любые задачи в области инвестиционных и строительных проектов, землепользования и недвижимости, строительства и инжиниринга, урегулирования споров и судебных разбирательств.
									a.hero-link.d-flex.align-items-center.justify-content-center(href="#") Презентация
									a.hero-more.d-flex.flex-column.align-items-center(href="#")
										span УЗНАТЬ БОЛЬШЕ
										i.arrow
	section.container-wrapper
		.row.no-gutters.services-container
			.col-3.services-item
					.services-info.active.main-service
						.title Услуги и юридические сервисы
						p.description Предлагаем интегрированные, экономически эффективные решения.
						a.btn-rectangle.accent-red(href="#")
							span Посмотреть услуги

			.col-3.services-item
				a(href="#", title="Подробнее")
					.services-info
						img.services-icon(src="/img/icons/LDD_disputes.svg")
						.title Урегулирование споров и судебных разбирательств
						p.description Превосходное знание действующего законодательства, отслеживание последних тенденций и высокая квалификация сотрудников позволяют решать разногласия, возникающие между участниками процесса.
						span.btn-readmore(href="#")
							span Подробнее

					.services-block.d-flex.flex-column.justify-content-end.blackout
						img.services-icon(src="/img/icons/LDD_disputes.svg")
						.title
							| Урегулирование споров и
							br
							| судебных разбирательств

			.col-3.services-item
				a(href="#", title="Подробнее")
					.services-info
						img.services-icon(src="/img/icons/LDD_Land.svg")
						.title Землепользование и недвижимость
						p.description Сделки с недвижимым имуществом высокой капитализации компетентно и без рисков. Применяем передовые методики и инновационные подходы, предоставляя независимые и объективные рекомендации.
						span.btn-readmore(href="#")
							span Подробнее

					.services-block.d-flex.flex-column.justify-content-end.blackout
						img.services-icon(src="/img/icons/LDD_Land.svg")
						.title
							| Землепользование
							br
							| и недвижимость

			.col-3.services-item
				a(href="#", title="Подробнее")
					.services-info
						img.services-icon(src="/img/icons/LDD_Infrastructure.svg")
						.title Инфраструктура и ГЧП
						p.description Индивидуальные юридические и консультационные услуги для всех сторон ГЧП-проектов в области энергетики, банковского сектора, недвижимости и промышленного производства, горнодобывающей, автомобильной и других отраслях.
						span.btn-readmore(href="#")
							span Подробнее

					.services-block.d-flex.flex-column.justify-content-end.blackout
						img.services-icon(src="/img/icons/LDD_Infrastructure.svg")
						.title
							| Инфраструктура
							br
							| и ГЧП

			.col-3.services-item
				a(href="#", title="Подробнее")
					.services-info
						img.services-icon(src="/img/icons/LDD_intellectual.svg")
						.title Интеллектуальная собственность
						p.description Полный комплекс услуг по вопросам регистрации патентов, товарных знаков и авторских прав в различных областях, а также сопровождение клиентов в Суде по интеллектуальным правам.
						span.btn-readmore(href="#")
							span Подробнее

					.services-block.d-flex.flex-column.justify-content-end.blackout
						img.services-icon(src="/img/icons/LDD_intellectual.svg")
						.title
							| Интеллектуальная
							br
							| собственность

			.col-3.services-item
				a(href="#", title="Подробнее")
					.services-info
						img.services-icon(src="/img/icons/LDD_tax_advice.svg")
						.title Налоговое консультирование
						p.description Решение задач в области налогового планирования и оптимизации налогообложения, минимизации налоговых рисков, в том числе налоговое консультирование, налоговый аудит, налоговый арбитраж.
						span.btn-readmore(href="#")
							span Подробнее

					.services-block.d-flex.flex-column.justify-content-end.blackout
						img.services-icon(src="/img/icons/LDD_tax_advice.svg")
						.title
							| Налоговое
							br
							| консультирование

			.col-3.services-item
				a(href="#", title="Подробнее")
					.services-info
						img.services-icon(src="/img/icons/LDD_building.svg")
						.title Строительство и инжиниринг
						p.description Юридические и консультационные услуги в отношении вопросов строительства, участие в разработке исходно-разрешительной документации по любым видам объектов недвижимости на территории Российской Федерации.
						span.btn-readmore(href="#")
							span Подробнее

					.services-block.d-flex.flex-column.justify-content-end.blackout
						img.services-icon(src="/img/icons/LDD_building.svg")
						.title
							| Строительство
							br
							| и инжиниринг

			.col-3.services-item
				a(href="#", title="Подробнее")
					.services-info
						img.services-icon(src="/img/icons/LDD_consulting.svg")
						.title Консультационные услуги
						p.description Квалифицированное юридическое обеспечение при заключении сделок с применением оригинальных методик и уникального опыта поможет выявить риски, согласовать условия, структурировать проект, как со стороны продавца, так и со стороны покупателя.
						span.btn-readmore
							span Подробнее

					.services-block.d-flex.flex-column.justify-content-end.blackout
						img.services-icon(src="/img/icons/LDD_consulting.svg")
						.title
							| Консультационные
							br
							| услуги


	section
		.completed-projects
			.container
				h2.headline Реализованные проекты
				.carousel-wrapper
					.container
						.owl-nav-main-projects
						.owl-carousel.owl-carousel-main-projects.owl-theme
							a(href="#")
								.main-carousel-item
									.img-wrapper
										img.main(src="/img/news-img.jpg" alt="project-img")
									.text-wrapper
										p ПРИЗНАНИЕ ПРАВА СОБСТВЕННОСТИ НА РЕЗУЛЬТАТ ИНВЕСТИЦИОННОЙ ДЕЯТЕЛЬНОСТИ
										div.arrow-link
											span Посмотреть проект
							a(href="#")
								.main-carousel-item
									.img-wrapper
										img.main(src="/img/project-2.jpg" alt="project-img")
									.text-wrapper
										p ООО «ВИОРАЙС», УСТАНОВЛЕНИЕ КАДАСТРОВОЙ СТОИМОСТИ ЗЕМЕЛЬНОГО УЧАСТКА В СУДЕБНОМ ПОРЯДКЕ
										div.arrow-link
											span Посмотреть проект
							a(href="#")
								.main-carousel-item
									.img-wrapper
										img.main(src="/img/project-3.jpg" alt="project-img")
									.text-wrapper
										p ТОПЛИВНАЯ КОМПАНИЯ ЕКА (КРУПНЕЙШИЙ НЕЗАВИСИМЫЙ ОПЕРАТОР НА РЕГИОНАЛЬНОМ РЫНКЕ НЕФТЕПРОДУКТОВ)
										div.arrow-link
											span Посмотреть проект
							a(href="#")
								.main-carousel-item
									.img-wrapper
										img.main(src="/img/project-1.jpg" alt="project-img")
									.text-wrapper
										p ПРИЗНАНИЕ ПРАВА СОБСТВЕННОСТИ НА РЕЗУЛЬТАТ ИНВЕСТИЦИОННОЙ ДЕЯТЕЛЬНОСТИ
										div.arrow-link
											span Посмотреть проект
							a(href="#")
								.main-carousel-item
									.img-wrapper
										img.main(src="/img/project-2.jpg" alt="project-img")
									.text-wrapper
										p ООО «ВИОРАЙС», УСТАНОВЛЕНИЕ КАДАСТРОВОЙ СТОИМОСТИ ЗЕМЕЛЬНОГО УЧАСТКА В СУДЕБНОМ ПОРЯДКЕ
										div.arrow-link
											span Посмотреть проект
							a(href="#")
								.main-carousel-item
									.img-wrapper
										img.main(src="/img/project-3.jpg" alt="project-img")
									.text-wrapper
										p ТОПЛИВНАЯ КОМПАНИЯ ЕКА (КРУПНЕЙШИЙ НЕЗАВИСИМЫЙ ОПЕРАТОР НА РЕГИОНАЛЬНОМ РЫНКЕ НЕФТЕПРОДУКТОВ)
										div.arrow-link
											span Посмотреть проект
							a(href="#")
								.main-carousel-item
									.img-wrapper
										img.main(src="/img/project-1.jpg" alt="project-img")
									.text-wrapper
										p ПРИЗНАНИЕ ПРАВА СОБСТВЕННОСТИ НА РЕЗУЛЬТАТ ИНВЕСТИЦИОННОЙ ДЕЯТЕЛЬНОСТИ
										div.arrow-link
											span Посмотреть проект
							a(href="#")
								.main-carousel-item
									.img-wrapper
										img.main(src="/img/project-2.jpg" alt="project-img")
									.text-wrapper
										p ООО «ВИОРАЙС», УСТАНОВЛЕНИЕ КАДАСТРОВОЙ СТОИМОСТИ ЗЕМЕЛЬНОГО УЧАСТКА В СУДЕБНОМ ПОРЯДКЕ
										div.arrow-link
											span Посмотреть проект
							a(href="#")
								.main-carousel-item
									.img-wrapper
										img.main(src="/img/project-3.jpg" alt="project-img")
									.text-wrapper
										p ТОПЛИВНАЯ КОМПАНИЯ ЕКА (КРУПНЕЙШИЙ НЕЗАВИСИМЫЙ ОПЕРАТОР НА РЕГИОНАЛЬНОМ РЫНКЕ НЕФТЕПРОДУКТОВ)
										div.arrow-link
											span Посмотреть проект
						.project-footer
							.row
								.col-lg-8
									p Наша история и успеха – реализованные кейсы и решенные задачи для наших клиентов. В каждый проект наши специалисты вложили свои знания, практический опыт,  систему решения юридических вопросов и инновации.
								.col-lg-3.offset-lg-1
									.project-footer-link
										a(href="#") Посмотреть все кейсы

	section
		.industries
			.container
				.industries-box
					.row
						.col-lg-6.offset-lg-3
							.industries-box-content
								p.title Отрасли экономики
								p.text Специалисты юридической компании LDD обладают знаниями и опытом в широком спектре отраслей экономики, решают самые сложные юридические вопросы. Мы предлагаем комплексное эффективное решение ваших задач.
								a(href="#")
									span ПОДРОБНЕЕ
									i.arrow
	section
		.partners
			.container
				h2.headline Клиенты и партнеры
				p.headline-description Работаем с компаниями, в которые верим.
				.carousel-wrapper
					.container
						.owl-nav-main-partners
						.owl-carousel.owl-carousel-main-partners.owl-theme
							.main-carousel-item
								.top-line
									.row
										.col-6
											a(href="#")
												img.partners-hover(src="/img/partners/Clients-AlfaBank-1.jpg")
										.col-6
											a(href="#")
												img.partners-hover(src="/img/partners/Clients-EKA-1.jpg")
								.bot-line
									.row
										.col-6
											a(href="#")
												img.partners-hover(src="/img/partners/Clients-Shneider-1.jpg")
										.col-6
											a(href="#")
												img.partners-hover(src="/img/partners/Clients-CocaCola-1.jpg")
							.main-carousel-item
								.top-line
									.row
										.col-6
											a(href="#")
												img.partners-hover(src="/img/partners/Clients-Morton-1.jpg")
										.col-6
											a(href="#")
												img.partners-hover(src="/img/partners/Clients-Deceunick-1.jpg")
								.bot-line
									.row
										.col-6
											a(href="#")
												img.partners-hover(src="/img/partners/Clients-ECE-1.jpg")
										.col-6
											a(href="#")
												img.partners-hover(src="/img/partners/Clients-TNKBP-1.jpg")
							.main-carousel-item
								.top-line
									.row
										.col-6
											a(href="#")
												img.partners-hover(src="/img/partners/Clients-AutoGermes-1.jpg")
										.col-6
											a(href="#")
												img.partners-hover(src="/img/partners/Clients-OutletVillage-1.jpg")
								.bot-line
									.row
										.col-6
											a(href="#")
												img.partners-hover(src="/img/partners/Clients-Peugeot-1.jpg")
										.col-6
											a(href="#")
												img.partners-hover(src="/img/partners/Clients-SGK-1.jpg")
							.main-carousel-item
								.top-line
									.row
										.col-6
											a(href="#")
												img.partners-hover(src="/img/partners/Clients-AlfaBank-1.jpg")
										.col-6
											a(href="#")
												img.partners-hover(src="/img/partners/Clients-EKA-1.jpg")
								.bot-line
									.row
										.col-6
											a(href="#")
												img.partners-hover(src="/img/partners/Clients-Shneider-1.jpg")
										.col-6
											a(href="#")
												img.partners-hover(src="/img/partners/Clients-CocaCola-1.jpg")
							.main-carousel-item
								.top-line
									.row
										.col-6
											a(href="#")
												img.partners-hover(src="/img/partners/Clients-Morton-1.jpg")
										.col-6
											a(href="#")
												img.partners-hover(src="/img/partners/Clients-Deceunick-1.jpg")
								.bot-line
									.row
										.col-6
											a(href="#")
												img.partners-hover(src="/img/partners/Clients-ECE-1.jpg")
										.col-6
											a(href="#")
												img.partners-hover(src="/img/partners/Clients-TNKBP-1.jpg")
							.main-carousel-item
								.top-line
									.row
										.col-6
											a(href="#")
												img.partners-hover(src="/img/partners/Clients-AutoGermes-1.jpg")
										.col-6
											a(href="#")
												img.partners-hover(src="/img/partners/Clients-OutletVillage-1.jpg")
								.bot-line
									.row
										.col-6
											a(href="#")
												img.partners-hover(src="/img/partners/Clients-Peugeot-1.jpg")
										.col-6
											a(href="#")
												img.partners-hover(src="/img/partners/Clients-SGK-1.jpg")
						.link-reviews
							.row.flex-lg-row-reverse
								.col-lg-3
									a(href="#") Посомтреть отзывы
	section
		.main-news
			.container
				.row
					.col-lg-4
						.main-news-media
							p.header.h4-like Мы в СМИ
							p.date.text-14 30.05.2018
							p.title.h5-like Рынок недвижимости затронут существенные нововведения | интервью Заура Алескерова для «Российская газета»
							p.text.text-14 Рынок недвижимости скоро ждут существенные регуляторные нововведения. Об этом "Российской газете" рассказал Президент, Управляющий партнер LDD Заур Алескеров. Он также дал прогноз по ценам на жилье и как на них могут отразится антироссийские санкции.
							a.read-more.link-14(href="#")
								span Читать полностью
								i.arrow
					.col-lg-4
						.legislation
							p.header.h4-like Новости законодательства
							p.date.text-14 24.10.2018
							p.title.h5-like Верховный суд РФ: бывший арендатор должен возмещать убытки по замещающему договору
							p.text.text-14 ВС РФ не согласился с выводами нижестоящих судов о том, что бывший арендатор не должен возмещать убытки по договорам, заключенным взамен расторгнутого.
							a.read-more.link-14(href="#")
								span Читать полностью
								i.arrow
					.col-lg-4
						.corporate
							p.header.h4-like Корпоративные новости
							p.date.text-14 27.04.2018
							p.title.h5-like Выступление юриста LDD Анны Поповой на вебинаре
							p.text.text-14 Юрист, специалист экспертно - аналитического центра при LDD выступила на вебинаре, посвященном оспариванию результатов определения кадастровой стоимости объектов недвижимости.
							a.read-more.link-14(href="#")
								span Читать полностью
								i.arrow
	include modules/footer
script(src="js/scripts.min.js")