footer
	.footer-top
		.container
			.row
				.col-lg-3
					.footer-contacts
						a.footer-logo
							img(src="/img/LDD-logo.svg" alt="LDD")
						.communication
							a.phone(href="tel:+74956020326") +7 (495) 602-03-26
							a.mail(href="mailto:info@ldd.ru") info@ldd.ru
						.address
							p
								| Центральный офис
								br
								| 105005, улица Радио, д. 24, к. 1
								br
								| Бизнес-центр "Яуза Тауэр"
				.col-lg-6
					.footer-menu.h-100
						.row.h-100
							.col-6
								ul.d-flex.flex-column.justify-content-between.h-100
									li
										a(href="#") О нас
									li
										a(href="#") Услуги
									li
										a(href="#") Проекты
									li
										a(href="#") Отрасли экономики
									li
										a(href="#") Команда
							.col-6.h-100
								ul.d-flex.flex-column.justify-content-between.h-100
									li
										a(href="#") Клиенты и партнеры
									li
										a(href="#") Отзывы
									li
										a(href="#") Пресс-центр
									li
										a(href="#") Аналитика
									li
										a(href="#") Контакты
				.col-lg-3
					.footer-link.h-100
						ul.d-flex.flex-column.justify-content-between.h-100
							li
								a.link-consultation(href="#") Заказать консультацию
							li
								a.link-presentatin(href="#") Посмотреть презентацию
							li
								a.link-brochure(href="#") Корпоративная брошюра
	.footer-bottom
		.container
			.row
				.col-lg-6
					.copyright
						p © 2018 LDD Все права защищены.
						p
							span Копирование контента и его публикация с данного сайта  только с письменного разрешения по запросу.
							a(href="#") Перейти в раздел Контакты.
				.col-lg-6
					.social-and-privacy.d-flex.flex-column.justify-content-between.align-items-end.h-100
						ul.social-links.d-flex.justify-content-between
							li
								a.instagram(href="#") Instagram
							li
								a.facebook(href="#") Facebook
							li
								a.twitter(href="#") Twitter
							li
								a.vk(href="#") ВКонтакте
							li
								a.google-plus(href="#") Google+
						a.privacy(href="#") Политика конфиденциальности