footer
	.footer-top
		.container
			.row
				.col-xl-3.col-lg-4.col-md-4
					.footer-contacts
						a.footer-logo
							img(src="/img/LDD-logo.svg" alt="LDD")
						.communication
							a.phone.h5-like(href="tel:+74956020326") +7 (495) 602-03-26
							br
							a.mail.h5-like(href="mailto:info@ldd.ru") info@ldd.ru
						.address
							p
								| Центральный офис
								br
								| 105005, улица Радио, д. 24, к. 1
								br
								| Бизнес-центр "Яуза Тауэр"
				.col-xl-3.col-lg-4.col-md-4.d-none.d-md-block
					ul.footer-links.d-flex.flex-column
						li
							a(href="#").strong-link О нас
						li
							a(href="#").strong-link Услуги
						li
							a(href="#").strong-link Проекты
						li
							a(href="#").strong-link Отрасли экономики
						li
							a(href="#").strong-link Команда
				.col-xl-3.col-lg-4.col-md-4.d-none.d-md-block
					ul.footer-links.d-flex.flex-column
						li
							a(href="#").strong-link Клиенты и партнеры
						li
							a(href="#").strong-link Отзывы
						li
							a(href="#").strong-link Пресс-центр
						li
							a(href="#").strong-link Аналитика
						li
							a(href="#").strong-link Контакты
				.col-xl-3.col-lg-12
					.row.footer-cta
						.col-xl-12.col-lg-4.col-md-4.align-items-start.d-flex
							a(href="#").cta-link
								img(src="img/icons/call.svg", alt="Заказать")
								| Заказать консультацию
						.col-xl-12.col-lg-4.col-md-4.align-xl-items-center.align-items-start.d-flex
							a(href="#").cta-link
								img(src="img/icons/flag.svg", alt="Посмотреть")
								|Посмотреть презентацию
						.col-xl-12.col-lg-4.col-md-4.align-xl-items-end.align-items-start.d-flex
							a(href="#").cta-link
								img(src="img/icons/book.svg", alt="Посмотреть")
								|Корпоративная брошюра


	.footer-bottom
		.container
			.row
				.col-xl-5.col-lg-4.order-2.order-lg-1
					.copyright.text-14
						p © 2018 LDD Все права защищены.
						p
							| Копирование контента и его публикация с данного сайта  только с письменного разрешения по запросу.
							a(href="#") Перейти в раздел Контакты.
				.col-xl-6.col-lg-7.offset-lg-1.offset-xl-1.order-1.order-lg-2
					ul.social-links.d-flex.justify-content-between.flex-wrap
						li
							a(href="#").social-link
								span.fab.fa-instagram
								span Instagram
						li
							a(href="#").social-link
								span.fab.fa-facebook
								span Facebook
						li
							a(href="#").social-link
								span.fab.fa-twitter
								span Twitter
						li
							a(href="#").social-link
								span.fab.fa-vk
								span ВКонтакте
						li
							a(href="#").social-link
								span.fab.fa-google-plus-g
								span Google+
					.text-md-left.text-lg-right
						a.privacy.text-14(href="#") Политика конфиденциальности